page-about {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .wrapper-info {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .course-one {
        border-radius: 5px;
        border-left-style: solid;
        border-left-width: 5px;
        border-left-color: color($colors,secondary);
        background-color: color($colors,primary);
        color: white;
        padding: 5px;
    }

    .course-two {
        border-radius: 5px;
        border-left-style: solid;
        border-left-width: 5px;
        border-left-color: color($colors,danger);
        background-color: color($colors,secondary);
        color: white;
        padding: 5px;
    }
    .course-three {
        border-radius: 5px;
        border-left-style: solid;
        border-left-width: 5px;
        border-left-color: color($colors,primary);
        background-color: color($colors,danger);
        color: white;
        padding: 5px;
    }

    
}
